@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
@import "https://assets.nopixel.net/web/fonts/agency-fb/stylesheet.css";
._container_ug3lx_1 {
  overflow: hidden;
  position: relative;
  height: calc(0.092592592vh * 100);
  width: calc(0.092592592vh * 175);
  transition: ease-in all 0.15s;
  border-radius: calc(0.092592592vh * 6);
  border: calc(0.092592592vh * 2) solid rgba(255, 255, 255, 0);
  background: radial-gradient(
    93.82% 93.82% at 50% 6.18%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_ug3lx_1 ._title_ug3lx_11 {
  inset: unset;
  color: #fff;
  position: absolute;
  font-family: Gilroy;
  display: inline-block;
  font-size: calc(0.092592592vh * 16);
  font-style: normal;
  font-weight: 400;
  bottom: calc(0.092592592vh * 15);
  left: calc(0.092592592vh * 20);
  width: calc(0.092592592vh * 100);
}
._container_ug3lx_1 ._icon_ug3lx_24 {
  z-index: 2;
  inset: unset;
  color: #fff;
  position: absolute;
  font-size: calc(0.092592592vh * 30);
  right: calc(0.092592592vh * 20);
  top: calc(0.092592592vh * 15);
}
._container_ug3lx_1 ._bgIcon_ug3lx_33 {
  inset: unset;
  color: #fff;
  position: absolute;
  z-index: 0;
  font-size: calc(0.092592592vh * 150);
  opacity: 0.03;
  right: calc(0.092592592vh * -40);
  top: calc(0.092592592vh * 15);
}
._container_ug3lx_1._active_ug3lx_43,
._container_ug3lx_1:hover {
  cursor: pointer;
  border: calc(0.092592592vh * 2) solid #00f8b9;
  background: radial-gradient(
    62.19% 62.19% at 50% 50%,
    rgba(0, 248, 185, 0.25) 0%,
    rgba(0, 102, 76, 0.25) 100%
  );
}
._container_1evnz_1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  gap: calc(0.092592592vh * 15);
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  padding: calc(0.092592592vh * 15) calc(0.092592592vh * 30);
  border-radius: calc(0.092592592vh * 6);
  justify-content: space-between;
  transition: ease-in all 0.15s;
  border: calc(0.092592592vh * 2) solid rgba(255, 255, 255, 0);
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_1evnz_1 ._row_1evnz_16 {
  flex: 1;
  width: 100%;
  display: flex;
  gap: calc(0.092592592vh * 15);
  flex-direction: row;
  justify-content: space-between;
}
._container_1evnz_1:before {
  content: "";
  top: calc(0.092592592vh * 10);
  left: calc(0.092592592vh * 10);
  position: absolute;
  background: #f86969;
  height: calc(0.092592592vh * 10);
  width: calc(0.092592592vh * 10);
  border-radius: calc(0.092592592vh * 2);
  box-shadow: 0 2px 7px #f869698c;
}
._container_1evnz_1 ._information_1evnz_35 {
  display: flex;
  gap: calc(0.092592592vh * 13);
  align-items: center;
}
._container_1evnz_1 ._icon_container_1evnz_40 {
  display: flex;
  color: #fff;
  align-items: center;
  width: calc(0.092592592vh * 40);
  height: calc(0.092592592vh * 40);
  justify-content: center;
  font-size: calc(0.092592592vh * 17);
  border-radius: calc(0.092592592vh * 6);
  background: radial-gradient(
    123.48% 123.48% at 50% 0%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_1evnz_1 ._title_1evnz_51 {
  display: flex;
  flex-direction: column;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 15);
  font-style: normal;
  font-weight: 400;
}
._container_1evnz_1 ._title_1evnz_51 span {
  color: #fff;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 15);
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
._container_1evnz_1 ._description_1evnz_68 {
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 14);
  font-style: normal;
  font-weight: 400;
}
._container_1evnz_1 ._actions_1evnz_75 {
  display: flex;
  gap: calc(0.092592592vh * 10);
  align-items: center;
}
._container_1evnz_1 ._btn_1evnz_80 {
  border: none;
  color: #00f8b9;
  text-align: center;
  font-family: Gilroy;
  cursor: pointer;
  font-size: calc(0.092592592vh * 14);
  font-style: normal;
  font-weight: 400;
  height: calc(0.092592592vh * 40);
  width: calc(0.092592592vh * 160);
  border-radius: calc(0.092592592vh * 2);
  transition: all ease-in 0.13s;
  background: rgba(0, 248, 185, 0.14);
}
._container_1evnz_1 ._btn_1evnz_80:hover {
  background: rgba(0, 248, 185, 0.24);
}
._container_zqyax_1 {
  overflow: hidden;
  position: relative;
  padding: calc(0.092592592vh * 20);
  width: calc(0.092592592vh * 900);
  border-radius: calc(0.092592592vh * 25);
  height: calc(100vh - 0.092592592vh * 300);
  background: radial-gradient(
    61.83% 85.77% at 92.1% 32.12%,
    #1a1d29 0%,
    #222530 100%
  );
}
._container_zqyax_1:before {
  content: "";
  position: absolute;
  background: #0795c3;
  width: calc(0.092592592vh * 846);
  height: calc(0.092592592vh * 397);
  border-radius: calc(0.092592592vh * 332);
  left: 0vh;
  top: calc(0.092592592vh * -500);
  pointer-events: none;
  filter: blur(332px);
  opacity: 0.7;
}
._container_zqyax_1 ._inner_zqyax_23 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  gap: calc(0.092592592vh * 20);
  flex-direction: column;
  border-color: transparent;
  border: calc(0.092592592vh * 2) solid;
  border-radius: calc(0.092592592vh * 5);
  -o-border-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
}
._container_zqyax_1 ._header_zqyax_35 {
  display: flex;
  padding: calc(0.092592592vh * 30) calc(0.092592592vh * 30) 0;
  align-items: center;
  justify-content: space-between;
}
._container_zqyax_1 ._header_zqyax_35 ._info_zqyax_41 {
  display: flex;
  gap: calc(0.092592592vh * 5);
  flex-direction: column;
}
._container_zqyax_1 ._header_zqyax_35 ._info_zqyax_41 ._title_zqyax_46 {
  color: #00f8b9;
  font-weight: 700;
  font-style: normal;
  font-family: Agency FB;
  font-size: calc(0.092592592vh * 32);
  text-shadow: 0px 2px 14px rgba(0, 248, 185, 0.55);
}
._container_zqyax_1 ._header_zqyax_35 ._info_zqyax_41 ._description_zqyax_54 {
  font-weight: 400;
  font-style: normal;
  font-family: Gilroy;
  width: calc(0.092592592vh * 400);
  font-size: calc(0.092592592vh * 16);
  color: #ffffff8c;
}
._container_zqyax_1 ._header_zqyax_35 ._navigation_zqyax_62 {
  display: flex;
  gap: calc(0.092592592vh * 10);
  align-items: center;
}
._container_zqyax_1 ._splitter_zqyax_67 {
  content: "";
  width: 100%;
  position: relative;
  height: calc(0.092592592vh * 2);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_zqyax_1 ._splitter_zqyax_67:after {
  top: calc(0.092592592vh * -2);
  left: calc(0.092592592vh * 30);
  content: "";
  position: absolute;
  height: calc(0.092592592vh * 4);
  width: calc(0.092592592vh * 225);
  background: #00f8b9;
  border-radius: calc(0.092592592vh * 1);
  box-shadow: 0 0 11px #00f8b9;
}
._container_zqyax_1 ._list_wrapper_zqyax_85 {
  display: flex;
  gap: calc(0.092592592vh * 10);
  flex-direction: column;
  padding: 0 calc(0.092592592vh * 30);
}
._container_zqyax_1 ._list_wrapper_zqyax_85 ._title_zqyax_46 {
  color: #00f8b9;
  text-shadow: 0px 2px 14px rgba(0, 248, 185, 0.55);
  font-family: Agency FB;
  font-size: calc(0.092592592vh * 24);
  font-style: normal;
  font-weight: 700;
}
._container_zqyax_1 ._list_wrapper_zqyax_85 ._description_zqyax_54 {
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-family: Gilroy;
  text-align: center;
  font-size: calc(0.092592592vh * 19);
  color: #ffffff8c;
}
._container_zqyax_1 ._list_wrapper_zqyax_85 ._list_zqyax_85 {
  display: flex;
  overflow: scroll;
  gap: calc(0.092592592vh * 20);
  flex-direction: column;
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
*::-webkit-scrollbar-track {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  display: none;
}
h1,
p {
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
