@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.static {
  position: static;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-\[-1\.5vh\] {
  margin-top: -1.5vh;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.h-full {
  height: 100%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-3\/5 {
  width: 60%;
}
.w-full {
  width: 100%;
}
.max-w-full {
  max-width: 100%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-grow-0 {
  flex-grow: 0;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-\[0\.5vh\] {
  gap: 0.5vh;
}
.gap-\[0\.9vh\] {
  gap: 0.9vh;
}
.gap-\[1vh\] {
  gap: 1vh;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pl-\[1vh\] {
  padding-left: 1vh;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-\[1vh\] {
  padding-right: 1vh;
}
.pt-\[1vh\] {
  padding-top: 1vh;
}
.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
@media (min-width: 1921px) {
  :root {
    font-size: 21.33px;
  }
}
@media (min-width: 2750px) {
  :root {
    font-size: 32px;
  }
}
body {
  margin: 0;
  overflow: hidden;
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*::-webkit-scrollbar {
  width: 0.34vh;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.19);
}
._App_ddiz5_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._App_ddiz5_1 ._content_ddiz5_13 {
  width: 131.6vh;
  height: 53.8vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vh;
}
._background_ddiz5_24 {
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    url(./pixels.svg),
    radial-gradient(
      31.98% 56.85% at 50% 50%,
      rgba(26, 29, 41, 0.95) 0%,
      rgba(34, 37, 48, 0.97) 100%
    );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  pointer-events: none;
}
._header_1odqb_1 {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
._header_1odqb_1 ._title_1odqb_8 {
  color: #00f8b9;
  text-shadow: 0px 0.37vh 2.59vh rgba(0, 248, 185, 0.55);
  font-family: Gilroy;
  font-size: 1.85vh;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
}
._header_1odqb_1 ._description_1odqb_17 {
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._header_1odqb_1 ._keybind_1odqb_25 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.4vh;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  border: 0.09259vh solid rgba(255, 255, 255, 0.08);
}
._header_1odqb_1 ._keybind_1odqb_25 ._text_1odqb_41 {
  padding: 0 1vh;
}
._header_1odqb_1 ._keybind_1odqb_25 ._button_1odqb_44 {
  width: auto;
  height: 2.12vh;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vh;
}
._nav_1dbjz_1 {
  width: 25.5vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  overflow: auto;
  gap: 0.7vh;
  margin-top: 3vh;
}
._nav_1dbjz_1 ._titleContainer_1dbjz_13 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 9.1vh;
  margin-top: -0.5vh;
  pointer-events: none;
}
._nav_1dbjz_1 ._titleContainer_1dbjz_13 ._title_1dbjz_13 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  transition: all 0.2s ease-in-out;
}
._nav_1dbjz_1 ._description_1dbjz_32 {
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._nav_1dbjz_1 ._block_1dbjz_40 {
  cursor: pointer;
}
._nav_1dbjz_1 ._block_1dbjz_40:hover ._stopColor_1dbjz_43,
._nav_1dbjz_1 ._block_1dbjz_40._active_1dbjz_43 ._stopColor_1dbjz_43 {
  stop-color: #00f8b9;
}
._nav_1dbjz_1 ._block_1dbjz_40:hover ._icon_1dbjz_46,
._nav_1dbjz_1 ._block_1dbjz_40._active_1dbjz_43 ._icon_1dbjz_46 {
  fill: #00f8b9;
}
._nav_1dbjz_1
  ._block_1dbjz_40:hover
  ~ ._titleContainer_1dbjz_13
  ._title_1dbjz_13,
._nav_1dbjz_1
  ._block_1dbjz_40._active_1dbjz_43
  ~ ._titleContainer_1dbjz_13
  ._title_1dbjz_13 {
  color: #00f8b9;
}
._nav_1dbjz_1 ._block_1dbjz_40 ._stopColor_1dbjz_43 {
  transition: all 0.2s ease-in-out;
  stop-color: #fff;
}
._nav_1dbjz_1 ._icon_1dbjz_46 {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}
._cart_1tsos_1 {
  width: 26.01vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 0.2vh;
  padding-bottom: 1.2vh;
}
._cart_1tsos_1._contact_1tsos_12 {
  height: 34.16vh;
  border-radius: 1.94vh;
  background: radial-gradient(
    136.43% 116.06% at 95.28% 96.61%,
    #1e2430 0%,
    #1a2634 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vh;
}
._cart_1tsos_1._contact_1tsos_12 ._item_1tsos_21 ._indicator_1tsos_21 {
  margin-left: -2vh;
  margin-top: -2vh;
}
._cart_1tsos_1 ._title_1tsos_25 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._cart_1tsos_1 ._item_1tsos_21 {
  width: 100%;
  height: 5.83vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    1352.6% 98.63% at 0% 49.02%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 1vh;
}
._cart_1tsos_1 ._item_1tsos_21 ._box_1tsos_44 {
  width: 3.79vh;
  height: 3.79vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
._cart_1tsos_1 ._item_1tsos_21 ._box_1tsos_44 ._image_1tsos_52 {
  width: 3.5vh;
  height: 3.5vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
._cart_1tsos_1 ._item_1tsos_21 ._text_1tsos_59 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 500;
  line-height: 108.5%;
  word-wrap: break-word;
}
._cart_1tsos_1 ._item_1tsos_21 ._price_1tsos_68 {
  color: #00f8b9;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76 {
  width: 2.12vh;
  height: 2.12vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.06);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76:hover {
  background: rgba(255, 255, 255, 0.12);
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76._plus_1tsos_90 {
  background: rgba(0, 248, 185, 0.29);
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76._plus_1tsos_90:hover {
  background: rgba(0, 248, 185, 0.58);
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76._delete_1tsos_96 {
  background: rgba(185, 65, 65, 0.29);
}
._cart_1tsos_1 ._item_1tsos_21 ._button_1tsos_76._delete_1tsos_96:hover {
  background: rgba(185, 65, 65, 0.58);
}
._cart_1tsos_1 ._item_1tsos_21 ._indicator_1tsos_21 {
  width: 2.12vh;
  height: 1.48vh;
  flex-shrink: 0;
  background: radial-gradient(
    318.56% 54.35% at 50% 50%,
    #12ce9e 0%,
    #179b7a 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: right;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  margin-bottom: auto;
  margin-left: 0vh;
  margin-top: -2.5vh;
}
._texts_1tsos_122 {
  width: 100%;
  height: auto;
  gap: 0.25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._texts_1tsos_122 ._title_1tsos_25 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #00f8b9;
  text-shadow: 0px calc(0.092592592vh * 4) calc(0.092592592vh * 28)
    rgba(0, 248, 185, 0.55);
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 14);
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
}
._texts_1tsos_122 ._description_1tsos_146 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  justify-content: space-between;
  color: #ffffff8c;
}
._payment_1tsos_160 {
  width: 100%;
  height: 3.14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._payment_1tsos_160 ._button_1tsos_76 {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;
  background: rgba(0, 0, 0, 0.31);
  color: #fff;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  pointer-events: all;
}
._payment_1tsos_160 ._button_1tsos_76:hover {
  background: rgba(0, 248, 185, 0.14);
  color: #00f8b9;
}
._contactPayment_1tsos_192 {
  position: absolute;
  width: calc(0.092592592vh * 514);
  height: calc(0.092592592vh * 294);
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(24, 24, 24, 0.69) 52.01%,
    #181818 106.85%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: calc(0.092592592vh * 10);
  padding: calc(0.092592592vh * 50);
  pointer-events: none;
}
._items_cyyb4_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5vh 3.5vh 1vh;
}
._items_cyyb4_1._contact_cyyb4_10 {
  padding: 0;
}
._items_cyyb4_1 ._list_cyyb4_13 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1.5vh;
  overflow: auto;
}
._items_cyyb4_1 ._list_cyyb4_13._contact_cyyb4_10 {
  height: 75%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5vh;
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1 {
  width: 17.12vh;
  height: 21.75vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    118.51% 118.51% at 50% 0%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1._locked_cyyb4_39 {
  opacity: 0.25;
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1:not(._locked_cyyb4_39):hover {
  background: radial-gradient(
    118.51% 118.51% at 50% 0%,
    rgba(0, 248, 185, 0.15) 0%,
    rgba(0, 248, 185, 0.08) 100%
  );
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1:not(._locked_cyyb4_39):hover
  ._top_cyyb4_45 {
  background: radial-gradient(
    94.28% 94.28% at 50% 50%,
    rgba(0, 248, 185, 0.25) 0%,
    rgba(0, 248, 185, 0) 100%
  );
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1:not(._locked_cyyb4_39):hover
  ._bottom_cyyb4_48
  ._line_cyyb4_48 {
  background: #00f8b9;
  box-shadow: 0 0 1.75vh 0.09259vh #00f8b9;
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1 ._top_cyyb4_45 {
  width: 17.12vh;
  height: 17.31vh;
  flex-shrink: 0;
  background: radial-gradient(
    94.28% 94.28% at 50% 50%,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._header_cyyb4_58 {
  width: 100%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5vh 0.5vh 0;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._header_cyyb4_58
  ._price_container_cyyb4_67 {
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.31);
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._header_cyyb4_58
  ._text_cyyb4_74 {
  padding: 0.5vh 0.7vh;
  color: #fff;
  font-family: Gilroy;
  font-size: 1.3vh;
  font-style: normal;
  font-weight: 400;
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1 ._top_cyyb4_45 ._image_cyyb4_82 {
  width: 100%;
  height: 75%;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._quantity_cyyb4_89 {
  width: 100%;
  height: 2.12vh;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 12);
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104 {
  width: 2.12vh;
  height: 2.12vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.06);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104:hover {
  background: rgba(255, 255, 255, 0.12);
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104._plus_cyyb4_118 {
  background: rgba(0, 248, 185, 0.29);
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104._plus_cyyb4_118:hover {
  background: rgba(0, 248, 185, 0.58);
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104._delete_cyyb4_124 {
  background: rgba(185, 65, 65, 0.29);
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._top_cyyb4_45
  ._button_cyyb4_104._delete_cyyb4_124:hover {
  background: rgba(185, 65, 65, 0.58);
}
._items_cyyb4_1 ._list_cyyb4_13 ._item_cyyb4_1 ._bottom_cyyb4_48 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  gap: 0.3vh;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._bottom_cyyb4_48
  ._title_cyyb4_140 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._bottom_cyyb4_48
  ._category_cyyb4_148 {
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  max-height: 3.33vh;
  width: 10.79vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._bottom_cyyb4_48
  ._button_cyyb4_104 {
  width: 3.33vh;
  height: 3.33vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    94.28% 94.28% at 50% 50%,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._bottom_cyyb4_48
  ._button_cyyb4_104:hover {
  background: radial-gradient(
    94.28% 94.28% at 50% 50%,
    rgba(0, 248, 185, 0.25) 0%,
    rgba(0, 248, 185, 0) 100%
  );
}
._items_cyyb4_1
  ._list_cyyb4_13
  ._item_cyyb4_1
  ._bottom_cyyb4_48
  ._line_cyyb4_48 {
  width: 100%;
  height: 0.185vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2.22vh #fff;
}
._App_yaxav_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vh;
}
._App_yaxav_1 ._container_yaxav_11 {
  width: calc(0.092592592vh * 514);
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: calc(0.092592592vh * 40);
  gap: calc(0.092592592vh * 20);
}
._App_yaxav_1 ._container_yaxav_11 ._header_yaxav_22 {
  width: 100%;
  height: 3.35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
  margin-top: calc(0.092592592vh * 80);
}
._App_yaxav_1 ._container_yaxav_11 ._header_yaxav_22 ._category_yaxav_32 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.185vh;
  padding: 0.8vh 1.6vh;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._App_yaxav_1 ._container_yaxav_11 ._header_yaxav_22 ._category_yaxav_32:hover,
._App_yaxav_1
  ._container_yaxav_11
  ._header_yaxav_22
  ._category_yaxav_32._active_yaxav_51 {
  background: rgba(0, 248, 185, 0.14);
  color: #00f8b9;
}
._App_yaxav_1 ._container_yaxav_11 ._header_yaxav_22 ._divider_yaxav_55 {
  width: 100%;
  height: 0.09259vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
._App_yaxav_1
  ._container_yaxav_11
  ._header_yaxav_22
  ._divider_yaxav_55
  ._line_yaxav_64 {
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 10vh;
  height: 0.27vh;
  background: #00f8b9;
  box-shadow: 0 0 1.94vh #00f8b9;
}
