@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.visible {
  visibility: visible;
}
.collapse {
  visibility: collapse;
}
.absolute {
  position: absolute;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.border {
  border-width: 1px;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1921px) {
  :root {
    font-size: 21.33px;
  }
}
@media (min-width: 2750px) {
  :root {
    font-size: 32px;
  }
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
*::-webkit-scrollbar {
  width: 0.185vh;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
  box-shadow: 0 0 2.03vh #fff;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.19);
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom .solid-select-input {
  color: #fff;
}
.custom .solid-select-input[readonly] {
  cursor: pointer;
}
.custom.solid-select-container {
  width: 16.85vh;
  height: 2.77vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  background: rgba(0, 0, 0, 0.22);
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.target {
  min-width: 45.85vh !important;
}
.custom.solid-select-container:hover {
  background: rgba(0, 0, 0, 0.4);
}
.custom .solid-select-control {
  color: #fff;
  border: none;
  outline: none;
}
.custom .solid-select-placeholder {
  color: #fff;
}
.custom .solid-select-option {
  flex-shrink: 0;
  cursor: pointer;
}
.custom .solid-select-option:hover,
.custom .solid-select-option[data-focused="true"] {
  background: radial-gradient(
    117.32% 117.32% at 50% -13.97%,
    rgba(0, 248, 185, 0.55) 0%,
    rgba(0, 248, 185, 0.22) 100%
  );
  color: #fff;
}
.custom .solid-select-list {
  -webkit-backdrop-filter: blur(1vh);
  backdrop-filter: blur(1vh);
  padding: 0;
  box-shadow: none;
}
._App_853nz_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._App_853nz_1 ._admin_853nz_14 {
  width: 102.5vh;
  height: 81.01vh;
  flex-shrink: 0;
  gap: 5vh;
  overflow: hidden;
  margin-bottom: 0.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.94vh;
  background: radial-gradient(
    31.98% 56.85% at 50% 50%,
    rgba(26, 29, 41, 0.95) 0%,
    rgba(34, 37, 48, 0.97) 100%
  );
  padding: 3vh 3vh 5.5vh;
}
._App_853nz_1 ._admin_853nz_14 ._row_853nz_32 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
._header_7yv16_1 {
  width: 100%;
  height: 7vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1.1vh;
  padding-left: 3vh;
  padding-right: 3vh;
}
._header_7yv16_1 ._row_7yv16_13 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
._header_7yv16_1 ._row_7yv16_13 ._texts_7yv16_21 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
._header_7yv16_1 ._row_7yv16_13 ._texts_7yv16_21 ._title_7yv16_29 {
  color: #00f8b9;
  text-shadow: 0px 0.37vh 2.59vh rgba(0, 248, 185, 0.55);
  font-family: Gilroy;
  font-size: 1.85vh;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
}
._header_7yv16_1 ._row_7yv16_13 ._texts_7yv16_21 ._subtitle_7yv16_38 {
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.29vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._header_7yv16_1 ._row_7yv16_13 ._categories_7yv16_46 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
._header_7yv16_1 ._row_7yv16_13 ._categories_7yv16_46 ._category_7yv16_55 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.185vh;
  padding: 0.8vh 1.6vh;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._header_7yv16_1 ._row_7yv16_13 ._categories_7yv16_46 ._category_7yv16_55:hover,
._header_7yv16_1
  ._row_7yv16_13
  ._categories_7yv16_46
  ._category_7yv16_55._active_7yv16_74 {
  background: rgba(0, 248, 185, 0.14);
  color: #00f8b9;
}
._header_7yv16_1 ._row_7yv16_13 ._searchBar_7yv16_78 {
  width: 19.81vh;
  height: 3.14vh;
  flex-shrink: 0;
  padding-left: 1.11vh;
  padding-right: 1.11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.185vh;
  border: 0.09259vh solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._header_7yv16_1 ._row_7yv16_13 ._searchBar_7yv16_78 ._input_7yv16_92 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._header_7yv16_1 ._row_7yv16_13 ._keybind_7yv16_103 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  border: 0.09259vh solid rgba(255, 255, 255, 0.08);
}
._header_7yv16_1 ._row_7yv16_13 ._keybind_7yv16_103 ._text_7yv16_21 {
  padding: 0 1vh;
}
._header_7yv16_1 ._row_7yv16_13 ._keybind_7yv16_103 ._button_7yv16_121 {
  width: auto;
  height: 2.12vh;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vh;
}
._header_7yv16_1 ._divider_7yv16_131 {
  width: 100%;
  height: 0.09259vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
._header_7yv16_1 ._divider_7yv16_131 ._line_7yv16_140 {
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 10vh;
  height: 0.27vh;
  background: #00f8b9;
  box-shadow: 0 0 1.94vh #00f8b9;
}
._nav_1c9xi_1 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vh;
  padding-left: 2.5vh;
}
._nav_1c9xi_1 ._item_1c9xi_12 {
  width: 9.259vh;
  height: 10.185vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._nav_1c9xi_1 ._item_1c9xi_12:hover,
._nav_1c9xi_1 ._item_1c9xi_12._active_1c9xi_30 {
  background: rgba(255, 255, 255, 0.1);
}
._commands_ff0g1_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  padding-left: 1.5vh;
  gap: 1vh;
}
._commands_ff0g1_1 ._commandContainer_ff0g1_12 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
._commands_ff0g1_1 ._commandContainer_ff0g1_12 ._command_ff0g1_1 {
  width: 80.64vh;
  height: 4.62vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.37vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  padding: 0vh 1vh;
  gap: 1.5vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._starContainer_ff0g1_41 {
  width: 2.77vh;
  height: 2.77vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: rgba(255, 255, 255, 0.1);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._starContainer_ff0g1_41
  ._star_ff0g1_41 {
  opacity: 0.2;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._starContainer_ff0g1_41
  ._star_ff0g1_41:hover,
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._starContainer_ff0g1_41
  ._star_ff0g1_41._active_ff0g1_54 {
  opacity: 1;
}
._commands_ff0g1_1 ._commandContainer_ff0g1_12 ._command_ff0g1_1:hover,
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1._active_ff0g1_54 {
  background: radial-gradient(
    117.32% 117.32% at 50% -13.97%,
    rgba(0, 248, 185, 0.55) 0%,
    rgba(0, 248, 185, 0.22) 100%
  );
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1:hover
  ._starContainer_ff0g1_41,
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1._active_ff0g1_54
  ._starContainer_ff0g1_41 {
  background: rgba(0, 0, 0, 0.22);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._right_ff0g1_63 {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1vh;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._command_ff0g1_1
  ._right_ff0g1_63
  ._arrowBox_ff0g1_71 {
  width: 1.66vh;
  height: 1.66vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  background: rgba(0, 248, 185, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
._commands_ff0g1_1 ._commandContainer_ff0g1_12 ._collapse_ff0g1_81 {
  width: 100%;
  transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vh;
  padding: 1vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25vh;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94._row_ff0g1_101 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vh;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._switch_ff0g1_107 {
  position: relative;
  display: inline-block;
  width: 2.77vh;
  height: 1.57vh;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._switch_ff0g1_107
  input {
  opacity: 0;
  width: 0;
  height: 0;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._slider_ff0g1_118 {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(180, 98, 98, 0.15);
  transition: all 0.2s ease-in-out;
  border-radius: 0.185vh;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._slider_ff0g1_118:before {
  position: absolute;
  content: "";
  height: 1.2vh;
  width: 1.2vh;
  left: 0.185vh;
  bottom: 0.185vh;
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #b46262 0%,
    #673a3a 100%
  );
  border-radius: 0.185vh;
  transition: all 0.2s ease-in-out;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  input:checked
  + ._slider_ff0g1_118 {
  background: rgba(0, 248, 185, 0.15);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  input:checked
  + ._slider_ff0g1_118:before {
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #00f8b9 0%,
    rgba(0, 248, 185, 0) 100%
  );
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  input:focus
  + ._slider_ff0g1_118 {
  box-shadow: 0 0 1px #2196f3;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  input:checked
  + ._slider_ff0g1_118:before {
  transform: translate(1.2vh);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._text_ff0g1_152 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._searchBar_ff0g1_160 {
  width: 19.81vh;
  height: 3.14vh;
  flex-shrink: 0;
  padding-left: 1.11vh;
  padding-right: 1.11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.185vh;
  border: 0.09259vh solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._commandInput_ff0g1_94
  ._searchBar_ff0g1_160
  ._input_ff0g1_174 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._actionButton_ff0g1_185 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.185vh;
  padding: 0.8vh 1.6vh;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 248, 185, 0.14);
}
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._actionButton_ff0g1_185:hover,
._commands_ff0g1_1
  ._commandContainer_ff0g1_12
  ._collapse_ff0g1_81
  ._collapseContent_ff0g1_85
  ._actionButton_ff0g1_185._active_ff0g1_54 {
  background: rgba(0, 248, 185, 0.24);
  color: #00f8b9;
}
.solid-select-container * {
  box-sizing: border-box;
  border: 0px solid transparent;
  line-height: normal;
}
.solid-select-container[data-disabled="true"] {
  pointer-events: none;
}
.solid-select-container {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0.25rem;
  min-width: 5rem;
}
.solid-select-control {
  border: 1px solid rgb(229, 231, 235);
  border-radius: inherit;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 0.25rem 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.solid-select-control[data-disabled="true"] {
  background-color: #f3f4f6;
  border-color: #d1d5db;
}
.solid-select-control[data-multiple="true"][data-has-value="true"] {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.25rem;
}
.solid-select-control:focus-within {
  outline-color: #d1d5db;
}
.solid-select-placeholder {
  color: #9ca3af;
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-single-value {
  grid-column-start: 1;
  grid-row-start: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.solid-select-multi-value {
  background-color: #f3f4f6;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 85%;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 20px;
}
.solid-select-multi-value > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.solid-select-multi-value-remove {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.solid-select-multi-value-remove:hover {
  text-shadow:
    1px 1px 3px rgb(0 0 0 / 29%),
    2px 4px 7px rgb(73 64 125 / 35%);
}
.solid-select-input {
  background-color: transparent;
  border-width: 0px;
  flex: 1 1 0%;
  margin: 0;
  padding: 0;
  caret-color: transparent;
  grid-column-start: 1;
  grid-row-start: 1;
  font: inherit;
  outline: none;
}
.solid-select-input:-moz-read-only {
  cursor: default;
}
.solid-select-input:read-only {
  cursor: default;
}
.solid-select-input[data-multiple="true"],
.solid-select-input[data-is-active="true"] {
  caret-color: currentColor;
}
.solid-select-list {
  background-color: inherit;
  border-radius: 0.125rem;
  margin-top: 0.25rem;
  max-height: 50vh;
  width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  position: absolute;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
  z-index: 1;
}
.solid-select-option:hover {
  background-color: #e5e7eb;
}
.solid-select-option[data-focused="true"] {
  background-color: #f3f4f6;
}
.solid-select-option mark {
  background-color: unset;
  color: unset;
  text-decoration-line: underline;
}
.solid-select-option {
  cursor: default;
  padding: 0.5rem 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.solid-select-option[data-disabled="true"] {
  pointer-events: none;
  color: #9ca3af;
}
.solid-select-list-placeholder {
  cursor: default;
  padding: 0.5rem 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
._playerList_c6gf4_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1.5vh;
  gap: 1vh;
}
._playerList_c6gf4_1 ._header_c6gf4_11 {
  width: 80.64vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
._playerList_c6gf4_1 ._header_c6gf4_11 ._searchBar_c6gf4_19 {
  width: 19vh;
  height: 3.14vh;
  flex-shrink: 0;
  padding-left: 1.11vh;
  padding-right: 1.11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.185vh;
  border: 0.09259vh solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._playerList_c6gf4_1 ._header_c6gf4_11 ._searchBar_c6gf4_19 ._input_c6gf4_33 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._playerList_c6gf4_1 ._divider_c6gf4_44 {
  width: 80.64vh;
  height: 0.09259vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
}
._playerList_c6gf4_1 ._list_c6gf4_49 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  gap: 1vh;
}
._playerList_c6gf4_1 ._list_c6gf4_49 ._playerContainer_c6gf4_59 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
._playerList_c6gf4_1
  ._list_c6gf4_49
  ._playerContainer_c6gf4_59
  ._player_c6gf4_1 {
  width: 80.64vh;
  height: 4.62vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.37vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  padding: 0vh 1vh;
  gap: 1.5vh;
  transition: all 0.2s ease-in-out;
}
._playerList_c6gf4_1
  ._list_c6gf4_49
  ._playerContainer_c6gf4_59
  ._player_c6gf4_1
  ._playerIcon_c6gf4_87 {
  width: 2.77vh;
  height: 2.77vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: rgba(255, 255, 255, 0.1);
  padding-top: 0.5vh;
}
._playerList_c6gf4_1
  ._list_c6gf4_49
  ._playerContainer_c6gf4_59
  ._player_c6gf4_1
  ._button_c6gf4_98 {
  width: 2.77vh;
  height: 2.77vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  background: rgba(0, 248, 185, 0.1);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
._playerList_c6gf4_1
  ._list_c6gf4_49
  ._playerContainer_c6gf4_59
  ._player_c6gf4_1
  ._button_c6gf4_98:hover {
  background: rgba(0, 248, 185, 0.22);
}
._options_twamk_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1.5vh;
  gap: 1vh;
}
._options_twamk_1 ._optionContainer_twamk_11 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
._options_twamk_1 ._optionContainer_twamk_11 ._option_twamk_1 {
  width: 80.64vh;
  height: 5.92vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.37vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #00f8b9;
  text-shadow: 0px 0.37vh 2.59vh rgba(0, 248, 185, 0.55);
  font-family: Gilroy;
  font-size: 1.38vh;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
  padding: 0vh 2.03vh;
  gap: 1.5vh;
  transition: all 0.2s ease-in-out;
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  ._switch_twamk_40 {
  position: relative;
  display: inline-block;
  width: 5.55vh;
  height: 2.77vh;
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  ._switch_twamk_40
  input {
  opacity: 0;
  width: 0;
  height: 0;
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  ._slider_twamk_51 {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(180, 98, 98, 0.15);
  transition: all 0.2s ease-in-out;
  border-radius: 0.185vh;
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  ._slider_twamk_51:before {
  position: absolute;
  content: "";
  height: 2.22vh;
  width: 2.22vh;
  left: 0.3vh;
  bottom: 0.3vh;
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #b46262 0%,
    #673a3a 100%
  );
  border-radius: 0.185vh;
  transition: all 0.2s ease-in-out;
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  input:checked
  + ._slider_twamk_51 {
  background: rgba(0, 248, 185, 0.15);
}
._options_twamk_1
  ._optionContainer_twamk_11
  ._option_twamk_1
  input:checked
  + ._slider_twamk_51:before {
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #00f8b9 0%,
    rgba(0, 248, 185, 0) 100%
  );
  transform: translate(2.62vh);
}
._playerLogs_10wtx_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1.5vh;
  gap: 1vh;
}
._playerLogs_10wtx_1 ._header_10wtx_11 {
  width: 80.64vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vh;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 ._searchBar_10wtx_28 {
  width: 13vh;
  height: 3.88vh;
  flex-shrink: 0;
  padding-left: 1.11vh;
  padding-right: 1.11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.185vh;
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._playerLogs_10wtx_1
  ._header_10wtx_11
  ._row_10wtx_19
  ._searchBar_10wtx_28
  ._input_10wtx_41 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 ._searchButton_10wtx_52 {
  width: 7.59vh;
  height: 3.88vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: rgba(0, 248, 185, 0.14);
  color: #00f8b9;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._playerLogs_10wtx_1
  ._header_10wtx_11
  ._row_10wtx_19
  ._searchButton_10wtx_52:hover {
  background: rgba(0, 248, 185, 0.24);
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 ._page_10wtx_73 {
  width: 3.88vh;
  height: 3.88vh;
  flex-shrink: 0;
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 ._button_10wtx_89 {
  width: 3.33vh;
  height: 3.88vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: rgba(0, 248, 185, 0.14);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._row_10wtx_19 ._button_10wtx_89:hover {
  background: rgba(0, 248, 185, 0.24);
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104 {
  height: 3.12vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104._type_10wtx_119,
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104._steamID_10wtx_122 {
  width: 15vh;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104._log_10wtx_125 {
  width: 30vh;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104._date_10wtx_128 {
  width: 13vh;
}
._playerLogs_10wtx_1 ._header_10wtx_11 ._column_10wtx_104._cid_10wtx_131 {
  width: 5vh;
}
._playerLogs_10wtx_1 ._divider_10wtx_134 {
  width: 80.64vh;
  height: 0.09259vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
}
._playerLogs_10wtx_1 ._list_10wtx_139 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  gap: 1vh;
}
._playerLogs_10wtx_1 ._list_10wtx_139 ._playerContainer_10wtx_149 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1 {
  width: 80.64vh;
  height: 4.62vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.37vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  padding: 0vh 1vh;
  gap: 1.5vh;
  transition: all 0.2s ease-in-out;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1
  ._row_10wtx_19 {
  width: 18%;
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1
  ._row_10wtx_19._very_small_10wtx_185 {
  width: 5%;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1
  ._row_10wtx_19._small_10wtx_188 {
  width: 10%;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1
  ._row_10wtx_19._large_10wtx_191 {
  width: 36%;
}
._playerLogs_10wtx_1
  ._list_10wtx_139
  ._playerContainer_10wtx_149
  ._player_10wtx_1
  ._playerIcon_10wtx_194 {
  width: 2.77vh;
  height: 2.77vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: rgba(255, 255, 255, 0.1);
  padding-top: 0.5vh;
}
._selection_jn9zu_1 {
  width: 30vh;
  height: auto;
  border-radius: 1vh;
  background: radial-gradient(
    31.98% 56.85% at 50% 50%,
    rgba(26, 29, 41, 0.95) 0%,
    rgba(34, 37, 48, 0.97) 100%
  );
  margin-left: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2vh;
  gap: 0.6vh;
}
._selection_jn9zu_1 ._header_jn9zu_14 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #00f8b9;
  text-shadow: 0px 0.36vh 2.59vh rgba(0, 248, 185, 0.55);
  font-family: Gilroy;
  font-size: 1.85vh;
  font-style: normal;
  font-weight: 600;
  line-height: 108.5%;
}
._selection_jn9zu_1 ._divider_jn9zu_29 {
  width: 100%;
  height: 0.09259vh;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
}
._selection_jn9zu_1 ._information_jn9zu_34 {
  color: #fff;
  font-family: Gilroy;
  border-radius: 0.5vh;
  padding: 1vh;
  max-height: 10vh;
  overflow-y: scroll;
}
._selection_jn9zu_1 ._commandContainer_jn9zu_42 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
._selection_jn9zu_1 ._commandContainer_jn9zu_42 ._command_jn9zu_42 {
  width: 100%;
  height: 4.62vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.37vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-family: Gilroy;
  font-size: 1.2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  padding: 0vh 1vh;
  gap: 1.5vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42
  ._starContainer_jn9zu_71 {
  width: 2.77vh;
  height: 2.77vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.185vh;
  background: rgba(255, 255, 255, 0.1);
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42
  ._starContainer_jn9zu_71
  ._star_jn9zu_71 {
  opacity: 0.2;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42
  ._starContainer_jn9zu_71
  ._star_jn9zu_71:hover,
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42
  ._starContainer_jn9zu_71
  ._star_jn9zu_71._active_jn9zu_84 {
  opacity: 1;
}
._selection_jn9zu_1 ._commandContainer_jn9zu_42 ._command_jn9zu_42:hover,
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42._active_jn9zu_84 {
  background: radial-gradient(
    117.32% 117.32% at 50% -13.97%,
    rgba(0, 248, 185, 0.55) 0%,
    rgba(0, 248, 185, 0.22) 100%
  );
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42:hover
  ._starContainer_jn9zu_71,
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42._active_jn9zu_84
  ._starContainer_jn9zu_71 {
  background: rgba(0, 0, 0, 0.22);
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._command_jn9zu_42
  ._arrowBox_jn9zu_93 {
  width: 1.66vh;
  height: 1.66vh;
  flex-shrink: 0;
  border-radius: 0.185vh;
  background: rgba(0, 248, 185, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
._selection_jn9zu_1 ._commandContainer_jn9zu_42 ._collapse_jn9zu_103 {
  width: 100%;
  transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vh;
  padding: 1vh;
  background: radial-gradient(
    83.13% 83.13% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25vh;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116._row_jn9zu_123 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vh;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._switch_jn9zu_129 {
  position: relative;
  display: inline-block;
  width: 2.77vh;
  height: 1.57vh;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._switch_jn9zu_129
  input {
  opacity: 0;
  width: 0;
  height: 0;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._slider_jn9zu_140 {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(180, 98, 98, 0.15);
  transition: all 0.2s ease-in-out;
  border-radius: 0.185vh;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._slider_jn9zu_140:before {
  position: absolute;
  content: "";
  height: 1.2vh;
  width: 1.2vh;
  left: 0.185vh;
  bottom: 0.185vh;
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #b46262 0%,
    #673a3a 100%
  );
  border-radius: 0.185vh;
  transition: all 0.2s ease-in-out;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  input:checked
  + ._slider_jn9zu_140 {
  background: rgba(0, 248, 185, 0.15);
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  input:checked
  + ._slider_jn9zu_140:before {
  background: radial-gradient(
    108.33% 108.33% at 50% 50%,
    #00f8b9 0%,
    rgba(0, 248, 185, 0) 100%
  );
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  input:focus
  + ._slider_jn9zu_140 {
  box-shadow: 0 0 1px #2196f3;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  input:checked
  + ._slider_jn9zu_140:before {
  transform: translate(1.2vh);
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._text_jn9zu_174 {
  color: #fff;
  font-family: Gilroy;
  font-size: 1vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._searchBar_jn9zu_182 {
  width: 19.81vh;
  height: 3.14vh;
  flex-shrink: 0;
  padding-left: 1.11vh;
  padding-right: 1.11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.185vh;
  border: 0.09259vh solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(
    1043.26% 83.87% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
}
._selection_jn9zu_1
  ._commandContainer_jn9zu_42
  ._collapse_jn9zu_103
  ._collapseContent_jn9zu_107
  ._commandInput_jn9zu_116
  ._searchBar_jn9zu_182
  ._input_jn9zu_196 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
}
._selection_jn9zu_1 ._actions_jn9zu_207 {
  display: flex;
  gap: 0.5vh;
  align-items: center;
  justify-content: space-between;
}
._selection_jn9zu_1 ._actionButton_jn9zu_213 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.185vh;
  padding: 0.8vh 1.6vh;
  color: #ffffff8c;
  font-family: Gilroy;
  font-size: 1.11vh;
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 248, 185, 0.14);
}
._selection_jn9zu_1 ._actionButton_jn9zu_213:hover,
._selection_jn9zu_1 ._actionButton_jn9zu_213._active_jn9zu_84 {
  background: rgba(0, 248, 185, 0.24);
  color: #00f8b9;
}
