
# [DATABASE & BASE ENGINE] - Must load FIRST before everything
ensure oxmysql
ensure npx

# [STANDALONE] - Independent libraries (load FIRST)

ensure loadingscreen
ensure baseevents
ensure sessionmanager
ensure chat
ensure PolyZone
ensure NativeUI
ensure InteractSound
ensure bob74_ipl
ensure focusmanager
ensure coordsaver
ensure koil-debug


# [NP-FRAMEWORK] - Core NP libraries (load SECOND)

ensure np-lib
ensure np-errorlog
ensure np-ui
ensure np-keybinds
ensure isPed
ensure interactions
ensure contacts
ensure np-locales
ensure np-i18n

ensure np-flags
ensure np-infinity
ensure np-polyzone
ensure np-datagrid
ensure np-fiber
ensure np-fx
ensure np-menu
ensure np-taskbar
ensure np-tasknotify
ensure np-tracking
ensure np-sync
ensure np-density
ensure np-doubleclutch
ensure np-eblips
ensure np-cleanup
ensure np-pingcheck
ensure skillchecks
ensure np-voice
ensure np-selector
ensure np-signin
ensure np-liquid-library
ensure np-target


# [NP-CORE] - NoPixel Core Framework (load THIRD)

ensure np-db
ensure config
ensure core
ensure np-base
ensure np-commands
ensure np-admin
ensure editor
ensure np-npcs
ensure np-log
ensure playerstate
ensure progression
ensure np-queue
ensure np-character
ensure spawn
ensure time-sync
ensure weather


# [NP-PROPS] - Props & Assets

ensure np_4.0_fonts
ensure np_4.0_hud
ensure np_4.0_minimaps
ensure nopixel_sounds
ensure nopixel_visuals
ensure nikez_sounds
ensure nikez_occlusion
ensure mtpo_sfx_sounds
ensure fonts
ensure np_4.0_props_replace_encrypted
ensure np_4.0_props_replace_a_to_d_encrypted
ensure np_4.0_props_replace_e_to_h_encrypted
ensure np_4.0_props_replace_i_to_l_encrypted
ensure np_4.0_props_replace_m_to_p_encrypted
ensure np_4.0_props_replace_q_to_t_encrypted
ensure np_4.0_props_replace_u_to_z_encrypted
ensure np_4.0_props_custom_encrypted
ensure np_4.0_props_custom_high_quality_a_to_d_encrypted
ensure np_4.0_props_custom_high_quality_e_to_h_encrypted
ensure np_4.0_props_custom_high_quality_i_to_l_encrypted
ensure np_4.0_props_custom_high_quality_m_to_p_encrypted
ensure np_4.0_props_custom_high_quality_q_to_t_encrypted
ensure np_4.0_props_custom_high_quality_u_to_z_encrypted
ensure np_4.0_props_housing_encrypted
ensure np_4.0_props_inv_items_encrypted
ensure np_4.0_pdprops_encrypted
ensure np_4.0_scenarios


# [NP-CLOTHING] - Clothing & Peds

ensure np_4.0_mp_replace_overlays
ensure np_tattoos
ensure np_4.0_m1_clothing_encrypted
ensure np_4.0_m2_clothing_encrypted
ensure np_4.0_f1_clothing_encrypted
ensure np_4.0_f2_clothing_encrypted
ensure np_4.0_m_approved_encrypted
ensure np_4.0_f_approved_encrypted
ensure np_4.0_m_premium_encrypted
ensure np_4.0_f_premium_encrypted
ensure np_4.0_f_premium2_encrypted
ensure np_4.0_m_babylon_encrypted
ensure np_4.0_f_babylon_encrypted
ensure np_4.0_m_doj_encrypted
ensure np_4.0_f_doj_encrypted
ensure np_4.0_m_ems_encrypted
ensure np_4.0_f_ems_encrypted
ensure np_4.0_m_heads_encrypted
ensure np_4.0_m_puni_encrypted
ensure np_4.0_f_puni_encrypted
ensure np_4.0_m_wl_encrypted
ensure np_4.0_f_wl_encrypted
ensure np_4.0_m_replace_clothing_vanilla_encrypted
ensure np_4.0_f_replace_clothing_vanilla_encrypted
ensure np_4.0_m_replace_clothing_apt_encrypted
ensure np_4.0_f_replace_clothing_apt_encrypted
ensure np_4.0_m_replace_clothing_beach_encrypted
ensure np_4.0_f_replace_clothing_beach_encrypted
ensure np_4.0_m_replace_clothing_battle_encrypted
ensure np_4.0_f_replace_clothing_battle_encrypted
ensure np_4.0_m_replace_clothing_bikerdlc_encrypted
ensure np_4.0_f_replace_clothing_bikerdlc_encrypted
ensure np_4.0_m_replace_clothing_business_encrypted
ensure np_4.0_f_replace_clothing_business_encrypted
ensure np_4.0_m_replace_clothing_executive_encrypted
ensure np_4.0_f_replace_clothing_executive_encrypted
ensure np_4.0_m_replace_clothing_gunrunning_encrypted
ensure np_4.0_f_replace_clothing_gunrunning_encrypted
ensure np_4.0_m_replace_clothing_gunrunning_uppr_encrypted
ensure np_4.0_f_replace_clothing_gunrunning_jbib_encrypted
ensure np_4.0_f_replace_clothing_gunrunning_uppr_encrypted
ensure np_4.0_m_replace_clothing_heist_encrypted
ensure np_4.0_f_replace_clothing_heist_encrypted
ensure np_4.0_m_replace_clothing_hipster_encrypted
ensure np_4.0_f_replace_clothing_hipster_encrypted
ensure np_4.0_m_replace_clothing_importexport_encrypted
ensure np_4.0_f_replace_clothing_importexport_encrypted
ensure np_4.0_m_replace_clothing_independence_encrypted
ensure np_4.0_m_replace_clothing_january2016_encrypted
ensure np_4.0_f_replace_clothing_january2016_encrypted
ensure np_4.0_m_replace_clothing_lowrider_encrypted
ensure np_4.0_f_replace_clothing_lowrider_encrypted
ensure np_4.0_m_replace_clothing_luxe_encrypted
ensure np_4.0_f_replace_clothing_luxe_encrypted
ensure np_4.0_m_replace_clothing_mplts_encrypted
ensure np_4.0_f_replace_clothing_mplts_encrypted
ensure np_4.0_m_replace_clothing_smuggler_encrypted
ensure np_4.0_f_replace_clothing_smuggler_encrypted
ensure np_4.0_m_replace_clothing_stunt_encrypted
ensure np_4.0_m_replace_clothing_sum2_encrypted
ensure np_4.0_m_replace_clothing_valentines_encrypted
ensure np_4.0_f_replace_clothing_valentines_encrypted
ensure np_4.0_m_replace_clothing_vinewood_encrypted
ensure np_4.0_f_replace_clothing_vinewood_encrypted
ensure np_4.0_m_replace_clothing_xmas_encrypted
ensure np_4.0_f_replace_clothing_xmas_encrypted
ensure np_4.0_animals_encrypted
ensure np_4.0_peds_config_and_animals_encrypted
ensure np_4.0_peds_a_to_c_encrypted
ensure np_4.0_peds_d_to_f_encrypted
ensure np_4.0_peds_g_to_i_encrypted
ensure np_4.0_peds_j_to_l_encrypted
ensure np_4.0_peds_m_to_o_encrypted
ensure np_4.0_peds_p_to_r_encrypted
ensure np_4.0_peds_s_to_u_encrypted
ensure np_4.0_peds_v_to_z_encrypted


# [NP-WEAPONS] - Weapons

ensure np_4.0_weapons_replace_encrypted
ensure np_4.0_weapons_custom_encrypted
ensure np_4.0_weapons_ak12_encrypted
ensure np_4.0_weapons_glock19_encrypted
ensure np_4.0_weapons_mac10_encrypted
ensure np_4.0_weapons_mac10_compact_encrypted
ensure np_4.0_weapons_ms1911_encrypted
ensure np_4.0_weapons_pd_encrypted
ensure np_4.0_weapons_pdsledge_encrypted
ensure np_4.0_weapons_taser_encrypted
ensure np_4.0_weapons_talonknife_encrypted
ensure np_4.0_weapons_spraygun_encrypted
ensure np_4.0_weapons_thrown_encrypted
ensure np_4.0_weapons_hunting_encrypted
ensure np_4.0_weapons_metas


# [NP-VEHICLES] - Vehicle Models

ensure np_4.0_vehicle_handling
ensure np_4.0_vehicle_config
ensure np_4.0_vehicle_liveries_a_to_d_encrypted
ensure np_4.0_vehicle_liveries_e_to_h_encrypted
ensure np_4.0_vehicle_liveries_i_to_l_encrypted
ensure np_4.0_vehicle_liveries_m_to_p_encrypted
ensure np_4.0_vehicle_liveries_q_to_t_encrypted
ensure np_4.0_vehicle_liveries_u_to_z_encrypted
ensure np_4.0_vehicles_general_encrypted
ensure np_4.0_vehicles_aircraft_encrypted
ensure np_4.0_vehicles_emergency_encrypted
ensure np_4.0_vehicles_replace_reworked_a_to_c_encrypted
ensure np_4.0_vehicles_replace_reworked_d_to_k_encrypted
ensure np_4.0_vehicles_replace_reworked_l_to_u_encrypted
ensure np_4.0_vehicles_replace_reworked_v_to_z_encrypted
ensure np_4.0_vehicles_addon_blockade_encrypted
ensure np_4.0_vehicles_addon_bulletproof_encrypted
ensure np_4.0_vehicles_addon_corsa_encrypted
ensure np_4.0_vehicles_addon_elegy3_encrypted
ensure np_4.0_vehicles_addon_flatbed2_encrypted
ensure np_4.0_vehicles_addon_flatbedm2_encrypted
ensure np_4.0_vehicles_addon_louizze_encrypted
ensure np_4.0_vehicles_addon_npambulance_encrypted
ensure np_4.0_vehicles_addon_nppolice_encrypted
ensure np_4.0_vehicles_addon_nppolice3_encrypted
ensure np_4.0_vehicles_addon_npwheelchair_encrypted
ensure np_4.0_vehicles_addon_polbuffalo4_encrypted
ensure np_4.0_vehicles_addon_polcaracara_encrypted
ensure np_4.0_vehicles_addon_polcoquette_encrypted
ensure np_4.0_vehicles_addon_polgauntlet2_encrypted
ensure np_4.0_vehicles_addon_polpenumbra_encrypted
ensure np_4.0_vehicles_addon_polpremier_encrypted
ensure np_4.0_vehicles_addon_polscout2_encrypted
ensure np_4.0_vehicles_addon_polvstr_encrypted
ensure np_4.0_vehicles_addon_r300c_encrypted
ensure np_4.0_vehicles_addon_rsx_encrypted
ensure np_4.0_vehicles_addon_solid_encrypted
ensure np_4.0_vehicles_addon_speedoc_encrypted
ensure np_4.0_vehicles_addon_squidbicycle_encrypted
ensure np_4.0_vehicles_addon_stxbanshee_encrypted
ensure np_4.0_vehicles_addon_turismo3
ensure np_4.0_vehicles_addon_turismosr1_encrypted
ensure np_4.0_vehicles_addon_vorschlaghammer_encrypted
ensure np_4.0_vehicles_addon_zr300_encrypted
ensure compacts
ensure coupes
ensure motorcycles
ensure muscle
ensure offroad
ensure sedans
ensure semitrucks
ensure sports
ensure sportsclassic
ensure super
ensure suvs


# [NP-MAPS] - Map Modifications

ensure np_4.0_extend
ensure np_4.0_forest_city
ensure np_4.0_forest_north
ensure np_4.0_forest_south
ensure np_4.0_hangar
ensure np_4.0_vivs_garage
ensure np_4.0_world
ensure np_4.0_general_encrypted
ensure np_4.0_exterior_changes_encrypted
ensure np_4.0_dirt_paths_encrypted
ensure np_4.0_downtown_encrypted
ensure np_4.0_lights_encrypted
ensure np_4.0_lodlights_encrypted
ensure np_4.0_vegetation_encrypted
ensure np_4.0_window_raindrops_encrypted
ensure np_4.0_world_a_to_b_encrypted
ensure np_4.0_world_d_to_g_encrypted
ensure np_4.0_world_h_to_l_encrypted
ensure np_4.0_world_m_to_z_encrypted
ensure np_4.0_world_ch_encrypted
ensure np_4.0_world_ch2+_encrypted
ensure np_4.0_world_cs1_encrypted
ensure np_4.0_world_cs2_encrypted
ensure np_4.0_world_cs3+_encrypted
ensure np_4.0_roads_a_to_c_encrypted
ensure np_4.0_roads_d_to_k_encrypted
ensure np_4.0_roads_l_to_u_encrypted
ensure np_4.0_roads_v_to_z_encrypted
ensure np_4.0_atom_encrypted
ensure np_4.0_barber_encrypted
ensure np_4.0_binco_encrypted
ensure np_4.0_bones_encrypted
ensure np_4.0_cargoship_encrypted
ensure np_4.0_cashexchange_encrypted
ensure np_4.0_casino_encrypted
ensure np_4.0_character_select_encrypted
ensure np_4.0_cinema_encrypted
ensure np_4.0_clicklovers_encrypted
ensure np_4.0_courthouse_encrypted
ensure np_4.0_davis_doj_encrypted
ensure np_4.0_fib_rework_encrypted
ensure np_4.0_fib_top_encrypted
ensure np_4.0_fleeca_encrypted
ensure np_4.0_gallery_ext_encrypted
ensure np_4.0_gallery_heist_encrypted
ensure np_4.0_gallery_kortz_encrypted
ensure np_4.0_gangs_altruists_encrypted
ensure np_4.0_gasstation_247_doors_encrypted
ensure np_4.0_hospital_encrypted
ensure np_4.0_hornys_encrypted
ensure np_4.0_impound_encrypted
ensure np_4.0_la_construction_encrypted
ensure np_4.0_laundromat_encrypted
ensure np_4.0_legion_square_park_encrypted
ensure np_4.0_liquid_library_encrypted
ensure np_4.0_lmansion_encrypted
ensure np_4.0_mazebank_heist_encrypted
ensure np_4.0_memorial_park_encrypted
ensure np_4.0_meth_labs_encrypted
ensure np_4.0_mission_row_police_department_encrypted
ensure np_4.0_mosley_encrypted
ensure np_4.0_nde_encrypted
ensure np_4.0_news_encrypted
ensure np_4.0_pacific_bank_encrypted
ensure np_4.0_pawnshop_encrypted
ensure np_4.0_paywool_encrypted
ensure np_4.0_ponsonbys_encrypted
ensure np_4.0_prison_encrypted
ensure np_4.0_ron_corp_encrypted
ensure np_4.0_roosters_rest_encrypted
ensure np_4.0_sandy_sheriff_and_medical_encrypted
ensure np_4.0_snrbuns_encrypted
ensure np_4.0_stabcity_encrypted
ensure np_4.0_suburban_encrypted
ensure np_4.0_tattoo_encrypted
ensure np_4.0_townhall_encrypted
ensure np_4.0_tuna_shop_encrypted
ensure np_4.0_undercity_encrypted
ensure np_4.0_vb_lockers_encrypted
ensure np_4.0_white_headquarter_encrypted


# [NP-HOUSING] - Housing Models

ensure np_4.0_housing_encrypted
ensure np_4.0_housing_apartments_encrypted
ensure np_4.0_housing_chumash_encrypted
ensure np_4.0_housing_cypress_encrypted
ensure np_4.0_housing_east_city_encrypted
ensure np_4.0_housing_grapeseed_encrypted
ensure np_4.0_housing_la_puerta_encrypted
ensure np_4.0_housing_little_seoul_encrypted
ensure np_4.0_housing_mirror_park_encrypted
ensure np_4.0_housing_mountains_encrypted
ensure np_4.0_housing_paleto_encrypted
ensure np_4.0_housing_sandy_encrypted
ensure np_4.0_housing_south_side_encrypted
ensure np_4.0_housing_vespucci_encrypted
ensure np_4.0_housing_vinewood_encrypted


# [NP-SCRIPTS] - Loading Screen (FIRST among scripts)

ensure loadingscreen


# [NP-SCRIPTS] - Core UI & System Scripts

ensure hud
ensure dispatch
ensure mdt
ensure radar
ensure phone
ensure np-phone
ensure playerlist
ensure clothing
ensure outfits
ensure emotes
ensure dances
ensure custom_animations
ensure cinematiccam
ensure misc
ensure np-ipl
ensure android_w_lsp
ensure gopixel
ensure tablet
ensure radio
ensure atc


# [NP-SCRIPTS] - Player Systems

ensure inventory
ensure housing
ensure apartments
ensure wounds
ensure damage-events
ensure np-captive
ensure np-ropes
ensure np-scenes
ensure np-usableprops
ensure np-propattach
ensure propattach
ensure keypad
ensure elevators
ensure doors
ensure np-objects
ensure storage
ensure vehiclelifts


# [NP-SCRIPTS] - Emergency Services

ensure emergency
ensure ems
ensure np-police
ensure service
ensure np-gov


# [NP-SCRIPTS] - Criminal / Illegal

ensure crime
ensure crime-hq
ensure fentanyl
ensure meth
ensure weed
ensure moonshine
ensure oxy
ensure washing
ensure money-printer
ensure money-runs
ensure bombs
ensure hideout
ensure stabcity
ensure sewers
ensure scraps
ensure powerplant
ensure fib-offices
ensure master_ghoul
ensure np-mkr-racing
ensure ratkin
ensure clowns
ensure aussie-man
ensure boosting


# [NP-SCRIPTS] - Racing

ensure racing
ensure np-racing
ensure legacydmc_chaser_np_encrypted

# [NP-SCRIPTS] - Social / Misc

ensure book
ensure notebook
ensure twatter
ensure stock-market
ensure payphones
ensure evidence
ensure np-oBinoculars
ensure np-oPlayerNumbers
ensure np-oRecoil
ensure np-vehiclecontrol
ensure np-vehicles
ensure vehicles
ensure np-vehiclesync-state
ensure np_4.0_fp_fov
ensure nve
ensure survival_event
ensure scuba
ensure heli
ensure drone
ensure roof-running
ensure np--climbing
ensure np-leaningbullettrajectory
ensure np-rcvehicles
ensure laptop-apps
ensure mka-anchor
ensure mka-array
ensure mka-lasers
ensure bugs


# [NP-SCRIPTS] - Misc Scripts

ensure np-jail
ensure np-memorial
ensure np-miscscripts
ensure np-oilers
ensure np-island
ensure np-cinema
ensure np-gasstation
ensure pawnshop
ensure showrooms
ensure zombie_animations


# [NP-JOBS] - Jobs

ensure jobmanager
ensure jobs
ensure np-jobs
ensure financials
ensure business
ensure fishing
ensure farming
ensure miner
ensure recycler
ensure industrial
ensure airtraining
ensure towing
ensure vehicle-delivery
ensure guber
ensure rental
ensure bennys
ensure tunershop
ensure mechanics
ensure chopshop
ensure gruppe6
ensure fence
ensure ammunation
ensure stores
ensure restaurants
ensure snr-buns
ensure news
ensure newspaper
ensure yellow-pages
ensure mayor-budget
ensure crafting
