# --- Server Identity -----------------------------------------
sv_hostname "Nopixel4 Server"
sets sv_projectName "Nopixel4 Server"
sets sv_projectDesc "Nopixel4 Server - NoPixel 4.0 Roleplay"

# --- Network -------------------------------------------------
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# --- Max Players ---------------------------------------------
sv_maxclients 1

# --- License Key ----------------------------
sv_licenseKey "cfxk_4E1EpD88OUjaTD0su8Vr_Syjur"

# --- Steam API (optional) ------------------------------------
# steam_webApiKey "YOUR_STEAM_API_KEY"

# --- Database ------------------------------------------------
set mysql_connection_string "mysql://root:@127.0.0.1/nopixel4?charset=utf8mb4"

# --- OneSync -------------------------------------------------
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# onesync on

# --- Server Environment --------------------------------------
set sv_environment "prod"

# --- Convars -------------------------------------------------
set voice_useNativeAudio "true"
set voice_externalPort "30121"
set sv_scriptHookAllowed "0"
set sv_enforceGameBuild "3095"

# --- Locale --------------------------------------------------
sets locale "en-US"

# --- Tags ----------------------------------------------------
sets tags "nopixel, roleplay, np4, whitelist"

# --- Load Nopixel4 Resources ---------------------------------
exec resources.cfg

# --- Admin Permissions & ACE Principals ---------------------
add_principal identifier.discord:455776700018458625 qbcore.god #kyze

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace group.superadmin command allow
add_ace group.god command allow
add_ace identifier.discord:455776700018458625 command allow
