@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
@import "https://assets.nopixel.net/web/fonts/nekst/stylesheet.css";
@import "https://assets.nopixel.net/web/fonts/agency-fb/stylesheet.css";
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1921px) {
  :root {
    font-size: 21.33px;
  }
}
@media (min-width: 2750px) {
  :root {
    font-size: 32px;
  }
}
body {
  margin: 0;
  overflow: hidden;
}
h1,
p {
  padding: 0;
  margin: 0;
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*::-webkit-scrollbar {
  width: 0.185vh;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
  box-shadow: 0 0 2.03vh #fff;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.19);
}
.slide-fade-enter-active,
.slide-fade-exit-active {
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translate(35%);
  opacity: 0;
}
.slide-fade-enter {
  transform: translate(35%);
}
._container_1hh6c_1 {
  height: calc(0.092592592vh * 600);
  border-radius: calc(0.092592592vh * 4);
  background-color: #ffffff0d;
  border: calc(0.092592592vh * 2) rgba(255, 255, 255, 0.15) solid;
}
._container_1bc7y_1 {
  display: flex;
  padding: calc(0.092592592vh * 20);
  border-radius: calc(0.092592592vh * 6);
  width: calc(0.092592592vh * 1200);
  height: calc(0.092592592vh * 850);
  background-image: url(./bg-e41f0a11.svg);
  background-position: center;
  background-size: cover;
}
._container_1bc7y_1 ._inner_1bc7y_11 {
  flex: 1;
  display: flex;
  gap: calc(0.092592592vh * 15);
  flex-direction: column;
  padding: calc(0.092592592vh * 20);
  border-radius: calc(0.092592592vh * 6);
  border: calc(0.092592592vh * 2) solid rgba(255, 255, 255, 0.1);
}
._container_1bc7y_1 ._header_1bc7y_20 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._container_1bc7y_1 ._header_1bc7y_20 ._title_1bc7y_25 {
  color: #00f8b9;
  font-weight: 700;
  font-style: normal;
  font-family: Agency FB;
  font-size: calc(0.092592592vh * 32);
  text-shadow: 0 0 15px rgba(0, 248, 185, 0.55);
}
._container_1bc7y_1 ._splitter_1bc7y_33 {
  position: relative;
  height: calc(0.092592592vh * 1);
  background: radial-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}
._container_1bc7y_1 ._splitter_1bc7y_33:after {
  content: "";
  position: absolute;
  top: calc(0.092592592vh * -2);
  left: 0vh;
  background: #00f8b9;
  height: calc(0.092592592vh * 4);
  width: calc(0.092592592vh * 336);
  box-shadow: 0 0 15px #00f8b98c;
}
._container_1bc7y_1 ._main_content_1bc7y_48 {
  flex: 1;
  display: flex;
  gap: calc(0.092592592vh * 10);
}
._container_1bc7y_1 ._main_content_1bc7y_48 ._sidebar_1bc7y_53 {
  display: flex;
  flex-direction: column;
  width: calc(0.092592592vh * 285);
  justify-content: space-between;
}
._container_1bc7y_1
  ._main_content_1bc7y_48
  ._sidebar_1bc7y_53
  ._stat_item_1bc7y_59 {
  display: flex;
  gap: calc(0.092592592vh * 5);
  align-items: center;
  height: calc(0.092592592vh * 90);
  border-radius: calc(0.092592592vh * 6);
  padding-left: calc(0.092592592vh * 10);
  border-right: calc(0.092592592vh * 4) rgba(255, 255, 255, 0.1) solid;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_1bc7y_1
  ._main_content_1bc7y_48
  ._sidebar_1bc7y_53
  ._stat_item_1bc7y_59
  ._icon_1bc7y_69 {
  height: calc(0.092592592vh * 65);
}
._container_1bc7y_1
  ._main_content_1bc7y_48
  ._sidebar_1bc7y_53
  ._stat_item_1bc7y_59
  h1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  display: flex;
  color: #fff;
  flex-direction: column;
  font-size: calc(0.092592592vh * 13);
}
._container_1bc7y_1
  ._main_content_1bc7y_48
  ._sidebar_1bc7y_53
  ._stat_item_1bc7y_59
  span {
  color: #00f8b9;
  font-weight: 400;
  font-style: normal;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 24);
  text-shadow: 0 0 15px rgba(0, 248, 185, 0.55);
}
._container_1bc7y_1 ._main_content_1bc7y_48 ._live_stats_1bc7y_89 {
  flex: 1;
}
._container_1bc7y_1 ._footer_1bc7y_92 {
  display: flex;
  gap: calc(0.092592592vh * 10);
  height: calc(0.092592592vh * 80);
}
._container_1bc7y_1 ._footer_1bc7y_92 button {
  flex: 1;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  font-style: normal;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 16);
  border: 1px solid #ffffff;
  border-radius: calc(0.092592592vh * 4);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 65%,
    rgba(255, 255, 255, 0.2) 100%
  );
}
._container_1bc7y_1 ._footer_1bc7y_92 ._warning_1bc7y_109 {
  flex: 1;
  display: flex;
  color: #fff;
  gap: calc(0.092592592vh * 3);
  flex-direction: column;
  padding: calc(0.092592592vh * 15);
  border-radius: calc(0.092592592vh * 4);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._container_1bc7y_1 ._footer_1bc7y_92 ._warning_1bc7y_109 h1 {
  color: #00f8b9;
  font-weight: 500;
  font-style: normal;
  font-family: Nekst;
  font-size: calc(0.092592592vh * 17);
  text-shadow: 0 0 15px rgba(0, 248, 185, 0.55);
}
._container_1bc7y_1 ._footer_1bc7y_92 ._warning_1bc7y_109 p {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: Nekst;
  font-size: calc(0.092592592vh * 12);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
._container_w80a6_1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
