@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.visible {
  visibility: visible;
}
.flex {
  display: flex;
}
.\!hidden {
  display: none !important;
}
.hidden {
  display: none;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bg-red-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity));
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
@font-face {
  font-family: Agency FB;
  src: url(./AGENCYB.TTF);
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Agency FB;
  src: url(./AGENCYR.TTF);
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
:root {
  font-size: 1.4vh;
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
._App_1ppnk_1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._App_1ppnk_1 ._container_1ppnk_12 {
  position: relative;
  width: calc(0.092592592vh * 900);
  height: 90%;
  background: radial-gradient(
    42.1% 74.73% at 92.1% 32.12%,
    #1a1d29 0%,
    #222530 100%
  );
  border-radius: 4px;
  padding: calc(0.092592592vh * 15);
  overflow: hidden;
}
._App_1ppnk_1 ._container_1ppnk_12 ._backgroundEllipse_1ppnk_21 {
  position: absolute;
  background: #0795c3;
  opacity: 0.55;
  width: calc(0.092592592vh * 850);
  height: calc(0.092592592vh * 400);
  top: calc(0.092592592vh * -264);
  left: calc(0.092592592vh * -78);
  border-radius: 50%;
  z-index: 25;
  filter: blur(300px);
  pointer-events: none;
}
._App_1ppnk_1 ._container_1ppnk_12 ._borderContainer_1ppnk_34 {
  position: absolute;
  width: calc(100% - 0.092592592vh * 30);
  height: calc(100% - 0.092592592vh * 30);
  border-radius: 5px;
  background: radial-gradient(
    63.19% 53.17% at 50% 50%,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 10;
}
._App_1ppnk_1 ._container_1ppnk_12 ._subContainer_1ppnk_42 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.092592592vh * 4);
  height: calc(100% - 0.092592592vh * 4);
  flex-grow: 1;
  background: radial-gradient(
    42.1% 74.73% at 92.1% 32.12%,
    #1a1d29 0%,
    #222530 100%
  );
  padding: calc(0.092592592vh * 15);
  inset: calc(0.092592592vh * 2);
  z-index: 20;
}
._App_1ppnk_1 ._container_1ppnk_12 ._subContainer_1ppnk_42 ._header_1ppnk_54 {
  font-family: Agency FB;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #00f8b9;
  text-shadow: 0px 0px 21px #00f8b9;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._description_1ppnk_67 {
  position: relative;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: calc(0.092592592vh * 5);
  color: #ffffff9f;
  max-width: 90%;
  left: 5%;
}
._App_1ppnk_1 ._container_1ppnk_12 ._subContainer_1ppnk_42 ._divider_1ppnk_82 {
  position: relative;
  width: 100%;
  height: calc(0.092592592vh * 2);
  margin-top: calc(0.092592592vh * 5);
  margin-bottom: calc(0.092592592vh * 7);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: calc(0.092592592vh * 15);
  margin-bottom: calc(0.092592592vh * 18);
  flex-shrink: 0;
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._divider_1ppnk_82
  ._dividerRectangle_1ppnk_93 {
  position: absolute;
  width: calc(0.092592592vh * 210);
  left: 50%;
  height: calc(0.092592592vh * 4);
  background: #00f8b9;
  box-shadow: 0 0 10px #00f8b9;
  transform: translate(-50%, -25%);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102 {
  overflow: auto;
  flex-grow: 1;
  padding-right: calc(0.092592592vh * 10);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102
  ._sliderContainer_1ppnk_107 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: calc(0.092592592vh * 15);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar,
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar-track,
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar {
  width: calc(0.092592592vh * 5);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar-thumb {
  background: rgba(0, 248, 185, 0.75);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._sliderScrollContainer_1ppnk_102::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 248, 185);
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._footerSectionContainer_1ppnk_130 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: calc(0.092592592vh * 41);
  min-height: calc(0.092592592vh * 41);
  align-items: center;
  margin-top: calc(0.092592592vh * 10);
  padding-block: calc(0.092592592vh * 15);
  border-radius: 4px;
  overflow: hidden;
  background:
    radial-gradient(
      100% 100% at 50% 100%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.07) 100%
    ),
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid;
  border-image-source: radial-gradient(
    71.25% 71.25% at 50% 50%,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  flex-grow: 0;
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._footerSectionContainer_1ppnk_130
  ._footerSectionTitle_1ppnk_148 {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffd8;
  text-transform: none;
  width: 100%;
  z-index: 100;
}
._App_1ppnk_1
  ._container_1ppnk_12
  ._subContainer_1ppnk_42
  ._footerSectionContainer_1ppnk_130
  ._timeFrameButton_1ppnk_161 {
  position: relative;
  right: calc(0.092592592vh * 5);
  width: calc(0.092592592vh * 41);
  height: calc(0.092592592vh * 31);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ffffffd8;
}
._main_yz60n_1 {
  position: relative;
  width: calc(0.092592592vh * 41);
  height: calc(0.092592592vh * 41);
  font-size: 16px;
  cursor: help;
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff78;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 4px;
}
._main_yz60n_1:hover {
  background:
    radial-gradient(
      74.39% 74.39% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    ),
    radial-gradient(
      69.51% 69.51% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    );
  border: 1px solid rgba(0, 248, 186, 0.1);
  color: #00f8b9;
}
._icon_yz60n_19 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._tooltip_yz60n_26 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a8;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 9999;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._tooltip_yz60n_26:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
._main_dyh2x_1 {
  position: relative;
  width: calc(50% - 0.092592592vh * 20);
  height: 100%;
  flex-grow: 1;
  background:
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      155.83% 792.25% at 50% 50%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid rgb(83, 83, 83);
  padding: calc(0.092592592vh * 10);
  border-radius: 4px;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._residential_dyh2x_22 {
  background-color: #38761d !important;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._commercial_dyh2x_25 {
  background-color: #288be2 !important;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._industrial_dyh2x_28 {
  background-color: #a37a00 !important;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._office_dyh2x_31 {
  background-color: #04a7a7 !important;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._utility_dyh2x_34 {
  background-color: #422711 !important;
}
._main_dyh2x_1 ._backgroundColor_dyh2x_11._vacant_dyh2x_37 {
  background-color: #000 !important;
}
._main_dyh2x_1 ._textContainer_dyh2x_40 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.092592592vh * 15);
  z-index: 0;
}
._main_dyh2x_1 ._textContainer_dyh2x_40 ._infoContainer_dyh2x_49 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
._main_dyh2x_1 ._textContainer_dyh2x_40 ._costsContainer_dyh2x_56 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
._main_dyh2x_1 ._header_dyh2x_63,
._main_dyh2x_1 ._description_dyh2x_64,
._main_dyh2x_1 ._costsTitle_dyh2x_65,
._main_dyh2x_1 ._costsValue_dyh2x_66 {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  z-index: 1;
}
._main_dyh2x_1 ._header_dyh2x_63 {
  line-height: 15px;
  color: #fff;
}
._main_dyh2x_1 ._description_dyh2x_64 {
  font-size: 12px;
  line-height: 13px;
  color: #fff8;
  margin-top: calc(0.092592592vh * 1);
  margin-bottom: calc(0.092592592vh * 7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._main_dyh2x_1 ._costsTitle_dyh2x_65,
._main_dyh2x_1 ._costsValue_dyh2x_66 {
  text-align: right;
  float: right;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  line-height: 13px;
}
._main_dyh2x_1 ._costsTitle_dyh2x_65 {
  color: #fff8;
  margin-bottom: calc(0.092592592vh * 3);
}
._main_dyh2x_1 ._costsValue_dyh2x_66 {
  line-height: 15px;
  color: #fff;
  letter-spacing: calc(0.092592592vh * 0.33);
}
._main_dyh2x_1 ._inputContainer_dyh2x_107 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  z-index: 1;
}
._main_dyh2x_1 ._inputContainer_dyh2x_107 ._tooltipIcon_dyh2x_117 {
  position: relative;
  font-size: 16px;
}
._main_dyh2x_1 ._inputContainer_dyh2x_107 ._textInputContainer_dyh2x_121 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(0.092592592vh * 41);
  background: rgba(255, 255, 255, 0.0588235294);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  flex-grow: 1;
}
._main_dyh2x_1
  ._inputContainer_dyh2x_107
  ._textInputContainer_dyh2x_121
  ._textInput_dyh2x_121 {
  flex-grow: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Gilroy;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0em;
}
._main_dyh2x_1
  ._inputContainer_dyh2x_107
  ._textInputContainer_dyh2x_121
  ._textInput_dyh2x_121::-webkit-outer-spin-button,
._main_dyh2x_1
  ._inputContainer_dyh2x_107
  ._textInputContainer_dyh2x_121
  ._textInput_dyh2x_121::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._main_dyh2x_1 ._tooltip_dyh2x_117 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a9;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 1px;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 9999;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._main_dyh2x_1 ._tooltip_dyh2x_117:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
._main_ix0d6_1 {
  position: relative;
  width: calc(0.092592592vh * 41);
  height: calc(0.092592592vh * 41);
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff78;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 4px;
}
._main_ix0d6_1:hover {
  background:
    radial-gradient(
      74.39% 74.39% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    ),
    radial-gradient(
      69.51% 69.51% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    );
  border: 1px solid rgba(0, 248, 186, 0.1);
  color: #00f8b9;
}
._icon_ix0d6_19 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._tooltip_ix0d6_26 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a8;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 1000;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._tooltip_ix0d6_26:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
._main_nvdy3_1 {
  position: relative;
  width: calc(50% - 0.092592592vh * 20);
  height: 100%;
  flex-grow: 1;
  background:
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      155.83% 792.25% at 50% 50%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid rgb(83, 83, 83);
  padding: calc(0.092592592vh * 10);
  border-radius: 4px;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._residential_nvdy3_22 {
  background-color: #38761d !important;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._commercial_nvdy3_25 {
  background-color: #288be2 !important;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._industrial_nvdy3_28 {
  background-color: #a37a00 !important;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._office_nvdy3_31 {
  background-color: #04a7a7 !important;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._utility_nvdy3_34 {
  background-color: #422711 !important;
}
._main_nvdy3_1 ._backgroundColor_nvdy3_11._vacant_nvdy3_37 {
  background-color: #000 !important;
}
._main_nvdy3_1 ._textContainer_nvdy3_40 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.092592592vh * 15);
  z-index: 0;
}
._main_nvdy3_1 ._textContainer_nvdy3_40 ._infoContainer_nvdy3_49 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
._main_nvdy3_1 ._textContainer_nvdy3_40 ._costsContainer_nvdy3_56 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
._main_nvdy3_1 ._header_nvdy3_63,
._main_nvdy3_1 ._description_nvdy3_64,
._main_nvdy3_1 ._costsTitle_nvdy3_65,
._main_nvdy3_1 ._costsValue_nvdy3_66 {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  z-index: 1;
}
._main_nvdy3_1 ._header_nvdy3_63 {
  line-height: 15px;
  color: #fff;
}
._main_nvdy3_1 ._description_nvdy3_64 {
  font-size: 12px;
  line-height: 13px;
  color: #fff8;
  margin-top: calc(0.092592592vh * 1);
  margin-bottom: calc(0.092592592vh * 7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._main_nvdy3_1 ._costsTitle_nvdy3_65,
._main_nvdy3_1 ._costsValue_nvdy3_66 {
  text-align: right;
  float: right;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  line-height: 13px;
}
._main_nvdy3_1 ._costsTitle_nvdy3_65 {
  color: #fff8;
  margin-bottom: calc(0.092592592vh * 3);
}
._main_nvdy3_1 ._costsValue_nvdy3_66 {
  line-height: 15px;
  color: #fff;
  letter-spacing: calc(0.092592592vh * 0.33);
}
._main_nvdy3_1 ._inputContainer_nvdy3_107 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  z-index: 1;
}
._main_nvdy3_1 ._inputContainer_nvdy3_107 ._tooltipIcon_nvdy3_117 {
  position: relative;
  font-size: 16px;
}
._main_nvdy3_1 ._inputContainer_nvdy3_107 ._textInputContainer_nvdy3_121 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(0.092592592vh * 41);
  background: rgba(255, 255, 255, 0.0588235294);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  flex-grow: 1;
}
._main_nvdy3_1
  ._inputContainer_nvdy3_107
  ._textInputContainer_nvdy3_121
  ._textInput_nvdy3_121 {
  flex-grow: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  text-align: center;
  font-family: Gilroy;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.075em;
  font-size: calc(0.092592592vh * 17);
}
._main_nvdy3_1
  ._inputContainer_nvdy3_107
  ._textInputContainer_nvdy3_121
  ._textInput_nvdy3_121::-webkit-outer-spin-button,
._main_nvdy3_1
  ._inputContainer_nvdy3_107
  ._textInputContainer_nvdy3_121
  ._textInput_nvdy3_121::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._main_nvdy3_1 ._tooltip_nvdy3_117 {
  position: relative;
  width: calc(0.092592592vh * 41);
  height: calc(0.092592592vh * 41);
  font-size: 16px;
  cursor: help;
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff78;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 4px;
}
._main_nvdy3_1 ._tooltip_nvdy3_117 ._icon_nvdy3_161 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._main_nvdy3_1 ._tooltip_nvdy3_117 ._popup_nvdy3_167 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a8;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 1000;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._main_nvdy3_1 ._tooltip_nvdy3_117 ._popup_nvdy3_167:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
._main_nvdy3_1 ._tooltip_nvdy3_117:hover {
  background:
    radial-gradient(
      74.39% 74.39% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    ),
    radial-gradient(
      69.51% 69.51% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    );
  border: 1px solid rgba(0, 248, 186, 0.1);
  color: #00f8b9;
}
._main_uxy16_1 {
  position: relative;
  width: calc(50% - 0.092592592vh * 20);
  height: 100%;
  flex-grow: 1;
  background:
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      155.83% 792.25% at 50% 50%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid rgb(83, 83, 83);
  padding: calc(0.092592592vh * 10);
  border-radius: 4px;
}
._main_uxy16_1 ._backgroundColor_uxy16_11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._residential_uxy16_22 {
  background-color: #38761d !important;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._commercial_uxy16_25 {
  background-color: #288be2 !important;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._industrial_uxy16_28 {
  background-color: #a37a00 !important;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._office_uxy16_31 {
  background-color: #04a7a7 !important;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._utility_uxy16_34 {
  background-color: #422711 !important;
}
._main_uxy16_1 ._backgroundColor_uxy16_11._vacant_uxy16_37 {
  background-color: #000 !important;
}
._main_uxy16_1 ._textContainer_uxy16_40 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.092592592vh * 15);
  z-index: 0;
}
._main_uxy16_1 ._textContainer_uxy16_40 ._infoContainer_uxy16_49 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
._main_uxy16_1 ._textContainer_uxy16_40 ._costsContainer_uxy16_56 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
._main_uxy16_1 ._header_uxy16_63,
._main_uxy16_1 ._description_uxy16_64,
._main_uxy16_1 ._costsTitle_uxy16_65,
._main_uxy16_1 ._costsValue_uxy16_66 {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  z-index: 1;
}
._main_uxy16_1 ._header_uxy16_63 {
  line-height: 15px;
  color: #fff;
}
._main_uxy16_1 ._description_uxy16_64 {
  font-size: 12px;
  line-height: 13px;
  color: #fff8;
  margin-top: calc(0.092592592vh * 1);
  margin-bottom: calc(0.092592592vh * 7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._main_uxy16_1 ._costsTitle_uxy16_65,
._main_uxy16_1 ._costsValue_uxy16_66 {
  text-align: right;
  float: right;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  line-height: 13px;
}
._main_uxy16_1 ._costsTitle_uxy16_65 {
  color: #fff8;
  margin-bottom: calc(0.092592592vh * 3);
}
._main_uxy16_1 ._costsValue_uxy16_66 {
  line-height: 15px;
  color: #fff;
  letter-spacing: calc(0.092592592vh * 0.33);
}
._main_uxy16_1 ._inputContainer_uxy16_107 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  z-index: 1;
}
._main_uxy16_1 ._inputContainer_uxy16_107 ._tooltipIcon_uxy16_117 {
  position: relative;
  font-size: 16px;
}
._main_uxy16_1 ._inputContainer_uxy16_107 ._rangeContainer_uxy16_121 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: calc(0.092592592vh * 10);
  height: calc(0.092592592vh * 41);
  background: rgba(255, 255, 255, 0.0588235294);
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  flex-grow: 1;
}
._main_uxy16_1
  ._inputContainer_uxy16_107
  ._rangeContainer_uxy16_121
  ._range_uxy16_121 {
  flex-grow: 1;
  cursor: pointer;
  cursor: ew-resize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: calc(0.092592592vh * 5);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1411764706);
}
._main_uxy16_1
  ._inputContainer_uxy16_107
  ._rangeContainer_uxy16_121
  ._range_uxy16_121::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  height: calc(0.092592592vh * 13);
  width: calc(0.092592592vh * 16);
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #c4c3c3 100%
  );
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
._main_uxy16_1
  ._inputContainer_uxy16_107
  ._rangeContainer_uxy16_121
  ._range_uxy16_121:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
._main_uxy16_1 ._tooltip_uxy16_117 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a9;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 9999;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._main_uxy16_1 ._tooltip_uxy16_117:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
._main_1pkbi_1 {
  width: 100%;
  position: relative;
  flex-grow: 1;
  background:
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      155.83% 792.25% at 50% 50%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid rgba(65, 65, 65, 0.75);
  border-radius: 4px;
}
._main_1pkbi_1 ._headerContainer_1pkbi_9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.092592592vh * 10);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0705882353);
  color: #fff;
  width: 100%;
  height: calc(0.092592592vh * 30);
}
._main_1pkbi_1 ._headerContainer_1pkbi_9 ._headerIconLeft_1pkbi_21,
._main_1pkbi_1 ._headerContainer_1pkbi_9 ._headerIconRight_1pkbi_22 {
  position: absolute;
  font-size: 16px;
}
._main_1pkbi_1 ._headerContainer_1pkbi_9 ._headerIconLeft_1pkbi_21 {
  left: calc(0.092592592vh * 10);
}
._main_1pkbi_1 ._headerContainer_1pkbi_9 ._headerIconRight_1pkbi_22 {
  right: calc(0.092592592vh * 10);
}
._main_1pkbi_1 ._headerContainer_1pkbi_9 ._header_1pkbi_9 {
  margin: 0;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  flex-grow: 1;
}
._main_1pkbi_1 ._sliderContainer_1pkbi_43 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: calc(0.092592592vh * 10);
  column-gap: calc(0.092592592vh * 10);
  row-gap: calc(0.092592592vh * 10);
  padding: calc(0.092592592vh * 15);
}
._footer_1n23z_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: calc(0.092592592vh * 15);
  column-gap: calc(0.092592592vh * 15);
  margin-top: calc(0.092592592vh * 10);
}
._footer_1n23z_1 ._footerSectionContainer_1n23z_10 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(33% - 0.092592592vh * 15);
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding-top: calc(0.092592592vh * 17);
  padding-bottom: calc(0.092592592vh * 24);
  border-radius: 4px;
  overflow: hidden;
  background:
    radial-gradient(
      100% 100% at 50% 100%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.07) 100%
    ),
    radial-gradient(
      71.25% 71.25% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid;
  border-image-source: radial-gradient(
    71.25% 71.25% at 50% 50%,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerSectionTitle_1n23z_26 {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffd8;
  text-transform: none;
  margin-bottom: calc(0.092592592vh * 5);
  width: 100%;
  z-index: 100;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerSectionAmount_1n23z_39 {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  z-index: 100;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerSectionEllipse_1n23z_49 {
  position: absolute;
  bottom: calc(0.092592592vh * -48);
  left: calc(50% - 0.092592592vh * 32.5);
  width: calc(0.092592592vh * 65);
  height: calc(0.092592592vh * 65);
  border-radius: 50%;
  filter: blur(50px);
  z-index: 50;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerSectionRectangle_1n23z_59 {
  position: absolute;
  bottom: 0;
  height: calc(0.092592592vh * 3);
  width: 100%;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerRevenueColor_1n23z_65 {
  color: #00f8b9;
  text-shadow: 0px 0px 10px rgba(0, 248, 185, 0.75);
  transition: all 0.35s ease-in-out;
}
._footer_1n23z_1 ._footerSectionContainer_1n23z_10 ._footerCostColor_1n23z_70 {
  color: #f86969;
  text-shadow: 0px 0px 10px #471f1f;
  transition: all 0.35s ease-in-out;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerRevenueColorBackground_1n23z_75 {
  background-color: #00f8b9;
  box-shadow: 0 0 10px #00f8b9bf;
  transition: all 0.35s ease-in-out;
}
._footer_1n23z_1
  ._footerSectionContainer_1n23z_10
  ._footerCostColorBackground_1n23z_80 {
  background-color: #f86969;
  box-shadow: 0 0 10px #f86969;
  transition: all 0.35s ease-in-out;
}
._main_14gi7_1 {
  position: relative;
  width: calc(0.092592592vh * 41);
  height: calc(0.092592592vh * 41);
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff78;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
._main_14gi7_1:hover {
  background:
    radial-gradient(
      74.39% 74.39% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    ),
    radial-gradient(
      69.51% 69.51% at 50% 50%,
      rgba(0, 248, 185, 0.25) 0%,
      rgba(0, 248, 185, 0) 100%
    );
  border: 1px solid rgba(0, 248, 186, 0.1);
  color: #00f8b9 !important;
}
._icon_14gi7_19 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._tooltip_14gi7_26 {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    72.73% 72.73% at 50% 50%,
    #ffffff 0%,
    #cdcdcd 100%
  );
  color: #000000a8;
  transform: translate(-50%, -100%);
  padding-inline: calc(0.092592592vh * 10);
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  max-width: calc(0.092592592vh * 350);
  z-index: 1000;
  border-radius: 2px;
  padding-block: calc(0.092592592vh * 10);
}
._tooltip_14gi7_26:before {
  content: "";
  position: absolute;
  top: calc(100% + 0.092592592vh * 2);
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 2px;
  transform: translate(-50%);
}
