@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
@import "https://assets.nopixel.net/web/fonts/agency-fb/stylesheet.css";
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.hidden {
  display: none;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
@media (min-width: 1921px) {
  :root {
    font-size: 21.33px;
  }
}
@media (min-width: 2750px) {
  :root {
    font-size: 32px;
  }
}
body {
  overflow: hidden;
  margin: 0;
}
*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*::-webkit-scrollbar {
  width: 0.185vh;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.19);
}
.slide-right-enter-active,
.slide-right-exit-active {
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.slide-right-enter,
.slide-right-exit-to {
  transform: translate(35%);
  opacity: 0;
}
.slide-right-enter {
  transform: translate(35%);
}
.slide-right-exit-active,
.slide-right-enter-active {
  transition: all 0.3s ease-in-out;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-exit-to {
  opacity: 0;
}
:root {
  --font-primary: "Inter", sans-serif;
  font-family: var(--font-primary);
}
._App_81ptg_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: calc(0.092592592vh * 20);
}
._App_81ptg_1 ._container_81ptg_11 {
  height: 100%;
  display: flex;
  padding: calc(0.092592592vh * 15);
  border-radius: calc(0.092592592vh * 10);
  justify-content: center;
  background:
    url(./bg.svg),
    radial-gradient(61.83% 85.77% at 92.1% 32.12%, #1a1d29 0%, #222530 100%);
  background-size: cover;
}
._App_81ptg_1 ._container_81ptg_11._hidden_81ptg_20 {
  display: flex;
  height: calc(0.092592592vh * 55);
  width: calc(0.092592592vh * 55);
  align-items: center;
  justify-content: center;
}
._App_81ptg_1 ._container_81ptg_11._hidden_81ptg_20 ._icon_81ptg_27 {
  color: #fff;
  cursor: pointer;
  font-size: calc(0.092592592vh * 18);
  transition: ease-in all 75ms;
}
._App_81ptg_1 ._container_81ptg_11._hidden_81ptg_20 ._icon_81ptg_27:hover {
  color: #00f8b9;
  text-shadow: 0px 0px calc(0.092592592vh * 19.8) #00f8b9;
}
._App_81ptg_1 ._container_81ptg_11 ._content_81ptg_37 {
  flex: 1;
  gap: calc(0.092592592vh * 10);
  display: flex;
  align-items: center;
  border-radius: calc(0.092592592vh * 5);
  flex-direction: column;
  justify-content: space-between;
  border: calc(0.092592592vh * 1) solid rgba(255, 255, 255, 0.2);
  padding: calc(0.092592592vh * 10);
}
._App_81ptg_1 ._container_81ptg_11 ._content_81ptg_37 ._title_81ptg_48 {
  flex-shrink: 0;
  color: #00f8b9;
  text-shadow: 0px calc(0.092592592vh * 4) calc(0.092592592vh * 28)
    rgba(0, 248, 185, 0.55);
  font-family: Agency FB;
  font-size: calc(0.092592592vh * 32);
  font-style: normal;
  font-weight: 700;
  line-height: 108.5%;
}
._App_81ptg_1 ._container_81ptg_11 ._content_81ptg_37 ._description_81ptg_58 {
  width: calc(0.092592592vh * 254);
  flex-shrink: 0;
  color: #ffffff8c;
  text-align: center;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 12);
  font-style: normal;
  font-weight: 400;
  line-height: 144.5%;
}
._App_81ptg_1 ._container_81ptg_11 ._content_81ptg_37 ._divider_81ptg_69 {
  width: calc(0.092592592vh * 314);
  height: calc(0.092592592vh * 1);
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.55) 48.67%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(0.092592592vh * 10);
}
._App_81ptg_1
  ._container_81ptg_11
  ._content_81ptg_37
  ._divider_81ptg_69
  ._line_81ptg_79 {
  width: calc(0.092592592vh * 208);
  height: calc(0.092592592vh * 3);
  flex-shrink: 0;
  background: #00f8b9;
  box-shadow: 0 0 calc(0.092592592vh * 21) 0 #00f8b9;
}
._App_81ptg_1 ._container_81ptg_11 ._content_81ptg_37 ._list_81ptg_86 {
  width: 100%;
  height: 100%;
  padding-right: calc(0.092592592vh * 5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0.092592592vh * 10);
  overflow: auto;
  gap: calc(0.092592592vh * 8);
}
._App_81ptg_1 ._button_81ptg_98 {
  width: calc(0.092592592vh * 250);
  height: calc(0.092592592vh * 34);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: calc(0.092592592vh * 1);
  border: calc(0.092592592vh * 1) solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.07);
  color: #fff;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 12);
  font-style: normal;
  font-weight: 400;
  line-height: 108.5%;
  transition: all 0.2s ease-in-out;
}
._App_81ptg_1 ._button_81ptg_98:hover {
  border: calc(0.092592592vh * 1) solid rgba(0, 248, 185, 0.12);
  background: rgba(0, 248, 185, 0.07);
  color: #00f8b9;
  text-shadow: 0px 0px calc(0.092592592vh * 19.8) #00f8b9;
}
._item_4xsdl_1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
._item_4xsdl_1 ._box_4xsdl_8 {
  width: calc(0.092592592vh * 37);
  height: calc(0.092592592vh * 37);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.092592592vh * 2);
  border: calc(0.092592592vh * 1) solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    62.19% 62.19% at 50% 50%,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(90, 90, 90, 0.25) 100%
  );
  cursor: pointer;
}
._item_4xsdl_1 ._box_4xsdl_8._active_4xsdl_20 {
  border: calc(0.092592592vh * 1) solid #00f8b9;
  background: radial-gradient(
    62.19% 62.19% at 50% 50%,
    rgba(0, 248, 185, 0.25) 0%,
    rgba(0, 102, 76, 0.25) 100%
  );
}
._item_4xsdl_1 ._box_4xsdl_8._active_4xsdl_20 svg {
  fill-opacity: 1;
}
._item_4xsdl_1 ._box_4xsdl_8._active_4xsdl_20 svg path {
  fill: #00f8b9;
}
._item_4xsdl_1 ._box_4xsdl_8 svg {
  fill-opacity: 0.44;
}
._item_4xsdl_1 ._name_4xsdl_33 {
  width: calc(0.092592592vh * 208);
  height: calc(0.092592592vh * 37);
  flex-shrink: 0;
  border-radius: calc(0.092592592vh * 2);
  background: radial-gradient(
    111.65% 77.01% at 49.73% 50.27%,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-family: Gilroy;
  font-size: calc(0.092592592vh * 14);
  font-style: normal;
  font-weight: 500;
  line-height: 144.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 calc(0.092592592vh * 10);
}
._item_4xsdl_1 ._name_4xsdl_33 svg {
  margin-bottom: calc(0.092592592vh * 20);
  margin-left: calc(0.092592592vh * -6);
}
._item_4xsdl_1 ._button_4xsdl_55 {
  width: calc(0.092592592vh * 37);
  height: calc(0.092592592vh * 37);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.092592592vh * 2);
  background: radial-gradient(
    111.65% 77.01% at 49.73% 50.27%,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
}
._item_4xsdl_1 ._button_4xsdl_55:hover,
._item_4xsdl_1 ._button_4xsdl_55._active_4xsdl_20 {
  background: radial-gradient(
    111.65% 77.01% at 49.73% 50.27%,
    rgba(0, 248, 185, 0.3) 0%,
    rgba(0, 248, 185, 0) 100%
  );
}
._item_4xsdl_1 ._button_4xsdl_55:hover svg,
._item_4xsdl_1 ._button_4xsdl_55._active_4xsdl_20 svg {
  fill-opacity: 1;
}
._item_4xsdl_1 ._button_4xsdl_55:hover svg path,
._item_4xsdl_1 ._button_4xsdl_55._active_4xsdl_20 svg path {
  fill: #00f8b9;
}
._item_4xsdl_1 ._button_4xsdl_55 svg {
  fill-opacity: 0.44;
}
._overlay_1lqwr_1 {
  position: fixed;
  inset: 0;
  background-color: #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
._modal_1lqwr_14 {
  background:
    url(./bg-62d2ef04.svg),
    radial-gradient(61.83% 85.77% at 92.1% 32.12%, #1a1d29 0%, #222530 100%);
  padding: 2vh;
  border-radius: 0.5vh;
  text-align: center;
  color: #fff;
  border: 0.1vh solid #444;
  width: 40vh;
  font-family: Inter, sans-serif;
}
._modal_1lqwr_14 p {
  margin-bottom: 2vh;
  font-size: 1.6vh;
  text-wrap: balance;
}
._modal_1lqwr_14 ._buttons_1lqwr_29 {
  display: flex;
  justify-content: space-around;
  gap: 1.5vh;
}
._modal_1lqwr_14 ._buttons_1lqwr_29 button {
  background-color: #333;
  color: #fff;
  border: 0.1vh solid #555;
  padding: 1vh 2vh;
  border-radius: 0.3vh;
  cursor: pointer;
  font-size: 1.5vh;
  flex-grow: 1;
  transition: background-color 0.2s ease-in-out;
}
._modal_1lqwr_14 ._buttons_1lqwr_29 button:hover {
  background-color: #444;
}
._modal_1lqwr_14 ._buttons_1lqwr_29 button:first-child {
  background-color: #a13232;
  border-color: #c9302c;
}
._modal_1lqwr_14 ._buttons_1lqwr_29 button:first-child:hover {
  background-color: #c9302c;
}
